# dependencies
node_modules/

# environment files
.env
.env.dev
.env.prod
.env.test

# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE

# example
/quick-start
/example_dist
/example
/dist

# tests
/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
/benchmarks/memory
build/config\.gypi