h1 {
  font-size: 70px;
  font-weight: 650;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-size: 40px;
  font-weight: 550;
}

h4 {
  font-size: 30px;
  font-weight: 450;
}

code {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.1em 0.3em 0 0.3em;
  margin: 0 0.1em 0 0.1em;
  font-size: 90%;
  border-radius: 5px;
}

blockquote {
  margin: 2rem 0px;
  border-left: 4px solid black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 1rem 2rem;
  color: var(--text1);
}

p {
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}
