.navbar {
  user-select: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 270px;
  margin-right: 270px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.navbar-title {
  cursor: pointer;
  font-size: 50px;
  font-weight: 800;
}

.navbar-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 470px;
  margin: auto 0;
}

.navbar-item {
  display: inline-block;
  font-size: 20px;
  margin: 0 auto;
  padding: 5px 10px;
  transition: 0.3s;
}

.navbar-item-link {
  color: black;
  transition: 0.3s;
}

.navbar-item:nth-last-child(1) {
  width: 70px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.navbar-item-link:hover {
  color: white;
}
